<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/plotly-latest.min.js}"></script>

    <title>Plotly.toyhouse.cc</title>
</head>
<body>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="myDiv"></div>
<p th:text="${dataUrl}">Test</p>
<script th:inline="javascript">
    /*<![CDATA[*/
    var dataUrl = /*[[${dataUrl}]]*/ null;
    var titleStr = /*[[${title}]]*/ null;
    var colorscaleStr = /*[[${colorscale}]]*/ null;
    var widthVal = /*[[${width}]]*/ null;
    var heightVal = /*[[${height}]]*/ null;
    // Plotly.d3.csv("/js/mt_bruno_elevation.csv", function(err, rows){
    Plotly.d3.csv(dataUrl, function(err, rows){
        function unpack(rows, key) {
            return rows.map(function(row) { return row[key]; });
        }

        var z_data=[ ]
        for(i=0;i<24;i++)
        {
            z_data.push(unpack(rows,i));
        }

        var data = [{
            z: z_data,
            colorscale: colorscaleStr,
            type: 'surface'
        }];

        var layout = {
            title: titleStr,
            autosize: false,
            width: widthVal,
            height: heightVal,
            margin: {
                l: 65,
                r: 50,
                b: 65,
                t: 90,
            }
        };
        Plotly.newPlot('myDiv', data, layout);
    });
    /*]]>*/
</script>

</body>
</html>