<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/js/plotly-latest.min.js}"></script>

    <title>Plotly.toyhouse.cc</title>
</head>
<body>

    <div class="container">
        <h1>
            <!-- include image from static resources -->
            <img th:src="@{/img/logo.png}" alt="memorynotfound logo"/>
            Plotly.toyhouse.cc Examples

        </h1>

        <a class="btn btn-primary" href="/example/0" role="button">2d-category</a>
        <a class="btn btn-primary" href="/example/1" role="button">2d-timeseries</a>
        <a class="btn btn-primary" href="/example/2" role="button">3d-surface</a>
        <a class="btn btn-primary" href="/example/3" role="button">3d-mesh</a>
        <a class="btn btn-primary" href="/example/4" role="button">3d-scatter</a>
    </div>

    <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
</body>
</html>